{{#section 'head'}}
     <title>404 issue:  {{text}}</title>
     <meta charset="utf-8">
{{/section}}

<h1 style="color:red">Sorry! Something not found or gone missing!</h1>
<p>Error message: <b>  {{text}} </b></p>