{{#section 'head'}}
     <title>Users list</title>
     <meta charset="utf-8">
	 <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	 <link rel="stylesheet" href="//kodaktor.ru/css/board3">

{{/section}}

<h1>Welcome to Users!</h1>
<p>{{text}}</p>

    <div id='r'></div>
   
    <script id='userslist' type='text/x-handlebars-template'>
     <ul>
       \{{#each users}}
         <li>
            \{{login}} :  \{{password}}
         </li>
       \{{/each}}
     </ul>
   </script>
   
   <script>   
     $(()=>{
            let	render = (view,context) => Handlebars.compile( $('#'+view).html())(context) ;
  			$.ajax({
            	 url: '{{users}}', method: 'GET'})
             .done(result=>  {    
               
                 $('#r').html (  render('userslist',{"users":result.users})  ) 
               
             })
   			 .fail(e=>alert(JSON.stringify(e)));
     });   
   </script>    
   
